<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CSV_Read_Specific/src/com/ofss/assignments/csv_read_specific/CSV_Read_Specific.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ofss.assignments.csv_read_specific.CSV_Read_Specific"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CSV_Read_Specific"/>
</launchConfiguration>
